@import '../styles/colors.scss';

.spinnerWrap{
      display: flex;
      align-items: center;
      justify-content:center;
      height: 100px;
    }
    .errorWrap{
      .error{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        height: 32px;
        background: $redLight;
        color: $black;
        
      }
    }