@import '../../../presentation/components/styles/colors.scss';
@import '../../../presentation/components/styles/global.scss';



button {
  background-color: $primary;
  color: $white;
  border-radius: 8px;
  font-size: 16px;
  border: none;
  line-height: 40px;
  &:hover{
    opacity: 0.9;
  }
}
.login{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  .form{
    width: 400px;
    display: flex;
    flex-direction: column;
    background: $white;
    padding: 40px;
    border-radius: 8px;
    align-self: center;
    row-gap: 10px;
    box-shadow: 0px 1px 3px -1px $black;

    h2{
      color: $primaryDark;
      text-align: center;
      font-size: 20px;
      text-transform: uppercase;
    }
    
    .submit{
      margin-top: 18px;
    }
    
    .link{
      text-align: center;
      color: $primary;
      text-transform: capitalize;
      &:hover{
        text-decoration: underline;
        cursor: pointer;
      }
    }
    .spinnerWrap{
      display: flex;
      align-items: center;
      justify-content:center;
      height: 100px;
    }
    .errorWrap{
      .error{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        height: 32px;
        background: rgb(241, 132, 132);
        color: $black;
        
      }
    }
  }
  .footer{
    background-color: $primary;
    height: 48px;
  }
}
